# Wi-Fi secrets
wifi_ssid: ""
wifi_password: ""
# alt_wifi_ssid: ""
# alt_wifi_password: ""

# Fallback WIFI Access Point
fallback_ap_ssid: "ESP Hotspot"
fallback_ap_pwd: ""

# OTA
ota_pwd: ""

# MQTT
mqtt_username: ""
mqtt_pwd: ""
mqtt_broker: ""
mqtt_port: ""
